services:
  - type: static
    name: decentralized-poker
    buildCommand: npm run build:static
    publishDir: dist
    headers:
      - path: /*
        name: X-Frame-Options
        value: DENY
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
